{%extends "mtrial/base.html"%}
{%block mathjax %}{%include "mtrial/mathjax_head.html"%}{%endblock%}
{% block base_content %}
<h1>O Trialu</h1>
<p>Tento trial vznikl jako reakce na ne moc dobře použitelný <a target="blank" href="http://trial.zcu.cz">trial.zcu.cz</a>, zvláště pak na mobilních zařízeních.</p>
<p>Projek je opensource, hostovaný na <a href="http://github.com/sikaondrej/mtrial">GitHubu</a>. Pokud chcete spustit vlastní instanci, kontaktujte mne na <a target="blank" href="mailto:ondrej@ondrejsika.com">ondrej@ondrejsika.com</a></p>
<p>Projekt byl vyvíjen za pomoci <a target="blank" href="http://www.kma.zcu.cz">Katedry matematiky</a> <a target="blank" href="http://www.zcu.cz">Západočeské univerzity v Plzni</a></p>
{% endblock base_content %}