{%extends "ptrial/base.html"%}
{% block base_content %}
<ul class="breadcrumb">
  <li><a href="/">mTrial</a> <span class="divider">/</span></li>
  <li><a href="{% url ptrial.subject category.subject.uk %}">{{category.subject}}</a> <span class="divider">/</span></li>
  <li><a href="{% url ptrial.subject.example category.subject.uk %}">Příklady</a> <span class="divider">/</span></li>
  {% for item in category.path %}
  <li><a href="{% url ptrial.subject.example.category item.subject.uk item.url %}">{{item.name}}</a> {% if item.name != category.name%}<span class="divider">/</span>{%endif%}</li>
  {% endfor %}
</ul>
<h1>{{category.name}}</h1>
<ul>
{% for cat in subject_qs.0.category_set.all %}
<li><a href="{{cat.get_absolute_url}}">{{cat.name}}</a></li>
{% endfor %}
</ul>

          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Podkategorie</li>
{%for cat in category.get_child_tree %}
<li><a href="{% url ptrial.subject.example.category cat.subject.uk cat.url %}">{{cat.name_path}} ({{category.get_sum_examples}})</a></li>
{% endfor %}


            </ul>
          </div><!--/.well -->

                    <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Příklady</li>
{%for example in category.example_set.all %}
<li><a href="{%url ptrial.r.example example.pk%}">{{example.pk}}</a></li>
{% endfor %}


            </ul>
          </div><!--/.well -->
{% endblock base_content %}